.fond {
 -fx-background-image: url("bg.png");
 -fx-background-size:150%;
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;
}

.fond2 {
 -fx-background-image: url("ag.png");
 -fx-background-size:150%;
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;
}

/* fond de la vue Règle*/
.fond3 {
 -fx-background-image: url("fond3.png");
 -fx-background-size:150%;
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;
 }


/* titre de la vue Règle*/
.label .text{
-fx-font-size:60px;
-fx-stroke: purple;
-fx-stroke-width: 3px;
-fx-font-weight: 700;
-fx-fill: white
}

/*infos de la vue règle*/
.infos {
-fx-font-size:20px;
-fx-stroke: black;
-fx-stroke-width: 1px;
-fx-font-weight: 700;
-fx-fill: white
}

/*infos sur le nombre de points*/
.points .text {
-fx-font-size:25px;
-fx-stroke: black;
-fx-stroke-width: 1px;
-fx-font-weight: 700;
-fx-fill: white
}

/*sous-titres de la vue Règle*/
.cc .text{
-fx-font-size:30px;
-fx-stroke: purple;
-fx-stroke-width: 1px;
-fx-font-weight: 700;
-fx-fill: white
}

/* bouton de la vue Règle */
.boutonsRegles .button{
	-fx-background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	-fx-background-color:rgba(176, 115, 222, 0.8);
	-fx-border-radius:5px;
	-fx-cursor:pointer;
	-fx-text-fill:white;
	-fx-font-family:Arial;
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-padding:30px 50px;
	-fx-text-decoration:none;

}

.boutonsRegles .button .text{
	-fx-stroke: purple;
    -fx-stroke-width: 1px;

}

.titre .text{
-fx-font-size:120px;
-fx-stroke: purple;
-fx-stroke-width: 6px;
-fx-font-weight: 700;
}

.text1 .text{
-fx-stroke: purple;
-fx-fill: white;
}

.boutons .button{
	-fx-background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	-fx-background-color:rgba(176, 115, 222, 0.8);
	-fx-border-radius:11px;
	-fx-cursor:pointer;
	-fx-text-fill:white;
	-fx-font-family:Arial;
	-fx-font-size:50px;
	-fx-font-weight:bold;
	-fx-padding:30px 200px;
	-fx-text-decoration:none;

}

.boutons .button .text{
	-fx-stroke: purple;
    -fx-stroke-width: 2px;

}

.boutons2 .button{
-fx-background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
-fx-background-color:rgba(176, 115, 222, 0.8);
-fx-border-radius:11px;
-fx-cursor:pointer;
-fx-text-fill:white;
-fx-font-family:Arial;
-fx-font-size:75px;
-fx-font-weight:bold;
-fx-padding:30px 200px;
-fx-text-decoration:none;

}
.boutons2 .button{
	-fx-stroke: purple;
    -fx-stroke-width: 2px;
}

.boutons3 .button{
-fx-background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
-fx-background-color:rgba(176, 115, 222, 0.8);
-fx-border-radius:11px;
-fx-cursor:pointer;
-fx-text-fill:white;
-fx-font-family:Arial;
-fx-font-size:50px;
-fx-font-weight:bold;
-fx-padding:15px 100px;
-fx-text-decoration:none;

}
.boutons3 .button{
	-fx-stroke: purple;
    -fx-stroke-width: 2px;
}

.boutons4 .button{
-fx-background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
-fx-background-color:rgba(176, 115, 222, 0.8);
-fx-border-radius:11px;
-fx-cursor:pointer;
-fx-text-fill:white;
-fx-font-family:Arial;
-fx-font-size:25px;
-fx-font-weight:bold;
-fx-padding:15px 100px;
-fx-text-decoration:none;

}
.boutons4 .button{
	-fx-stroke: purple;
    -fx-stroke-width: 2px;
}

.grille{
 -fx-background-image: url("fooon.png");
 -fx-background-size:105%;
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;
}

.boutonsGrille .button{
-fx-background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
-fx-background-color:rgba(176, 115, 222, 0.8);
-fx-border-radius:11px;
-fx-cursor:pointer;
-fx-text-fill:white;
-fx-font-family:Arial;
-fx-font-size:30px;
-fx-font-weight:bold;
-fx-padding:10px 40px;
-fx-text-decoration:none;
}

.texteGrille .label{
-fx-text-fill:white;
-fx-font-family:Arial;
-fx-font-size:30px;
}

.text-field{
   -fx-font-family: "Quicksand";
   -fx-font-size: 25;
   -fx-padding: 1,1,1,1;
   -fx-border-color: pink;
   -fx-border-width: 2;
   -fx-border-radius: 1;
   -fx-border: gone;
   -fx-background-color: white;
}



